@import "../../css/variables.scss";
@import "../../css/mixins.scss";

#header{
	background: #f7f6f2;
	.container {
		.img_box {
			float: left;
			line-height: 60px;
			img {
				vertical-align: middle;
			}
		}
		.nav {
			float: right;
			margin-right: 18px;
			.nav_box {
				>li {
					float: left;
					a {
						display: inline-block;
						padding: 20px 16px;
						color: $brand-light-black;
					}
					.icon-login {
						font-size: 18px;
						padding-left: 36px;
						padding-right: 36px;
						line-height: 60px;
						&:hover {
							color: $brand;
						}
					}
					&:hover {
						>a {
							color: $brand;
						}
					}
				}
				.investment {
					ul {
						display: none;
						position: absolute;
						z-index: 1;
						padding-top: 6px;
						padding-bottom: 6px;
						background: $white;
						li {
							text-align: center;
							font-size: 14px;
							a {
								padding-top: 8px;
								padding-bottom: 8px;
							}
							&:hover {
								a {
									color: $brand;
								}
							}
						}
					}
					&:hover {
						ul {
							display: block;
						}
					}
				}
				.login {
					cursor: pointer;
					ul {
						display: none;
						position: absolute;
						z-index: 1;
						padding-top: 6px;
						padding-bottom: 6px;
						background: $white;
						li {
							text-align: center;
							font-size: 14px;
							a {
								padding-top: 8px;
								padding-bottom: 8px;
							}
							&:hover {
								a {
									color: $brand;
								}
							}
						}
					}
					&:hover {
						ul {
							display: block;
						}
					}
				}
			}
		}
	}
}