@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.footer{
	background: $white;
	overflow: hidden;
	.footer_box {
		.box {
			dl {
				float: left;
				margin-left: 130px;
				dt {
					margin-top: 38px;
					margin-bottom: 18px;
					font-size: 16px;
					color: $brand-light-black;
				}
				dd {
					margin: 0;
					line-height: 24px;
					font-size: 12px;
					color: $brand-light-grey;
					a {
						line-height: 24px;
						font-size: 12px;
						color: $brand-light-grey;
					}
					&:hover a{
						color: $brand;
					}
				}
			}
			
		}
		.copyright {
			margin-left: 130px;
			margin-top: 72px;
			margin-bottom: 36px;
			font-size: 12px;
			color: $brand-light-grey;
		}
	}
}