@import "../../css/variables.scss";
@import "../../css/mixins.scss";
html,body{
	width:100%;
	height:100%;
	background:$body-bg;
}

	.content{
			margin-bottom: 58px;
			background:#fff;
			border-radius:10px;
		h2{
			height: 58px;
			padding-left:32px;
			line-height: 58px;
			margin-bottom:0;
			font-weight:normal;
			border-bottom:1px solid $body-bg;

		}
		#container{
			width:1100px;
			height:450px;
			margin:40px auto;
			border:1px solid #ccc;
		}

		.introduction{
			padding:0 42px 121px;
			p{
				margin:0;
				line-height: 25px;
			}
			h3{
				margin-bottom:0;
				line-height: 30px;
			}
		}
	}