@import "../../css/variables.scss";
@import "../../css/mixins.scss";
html,body{
	background:$body-bg;
}

.content{
			margin-bottom:58px;
			background:#fff;
			border-radius:10px;
		h2{
			height: 58px;
			padding-left:32px;
			line-height: 58px;
			margin-bottom:0;
			font-weight:normal;
			border-bottom:1px solid $body-bg;
		}
		.list-coo{
			width: 950px;
			margin:13px auto 0;
			li{
				float:left;
				margin-right:10px;
				width:299px;
				height:96px;
				font-size: 18px;
				line-height: 96px;
				text-align: center;
				border:1px solid #ccc;
				&:last-child{
					margin-right:0;
				}
				&:hover{
					box-shadow: 0 0 25px #888; 
					color:$brand;
					transition:1s ;
				}
			}
		}
		.list-pic{
			margin-top:58px;
			li{
				float:left;
				display: none;
				padding-bottom:96px;
				img{
					width:302px;
					display: block;
					margin:0 auto 47px;
				}
				p{
					padding:0 142px;
					text-indent: 2em;
				}
			}
		}
	}

