@import "../../css/variables.scss";
@import "../../css/mixins.scss";

html,body{
	background:$body-bg;
}
	.content{
			margin-bottom:58px;
			background:#fff;
			border-radius:10px;
		h2{
			height: 58px;
			padding-left:32px;
			line-height: 58px;
			margin-bottom:0;
			font-weight:normal;
			border-bottom:1px solid $body-bg;

		}
		.introduction{
			padding:37px 42px 0;
			li{
				line-height: 38px;
			}
		}
		.pic{
			margin-top:139px;
			padding-bottom:240px;
			img{
				display: block;
				margin:0 auto;
			}
		}
	}