// Iconfont
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /* -webkit-text-stroke-width: 0.2px; */
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplanehollow:before { content: "\e62c"; }

.icon-mobile:before { content: "\e675"; }

.icon-email:before { content: "\e618"; }

.icon-search:before { content: "\e631"; }

.icon-pen:before { content: "\e621"; }

.icon-build:before { content: "\e6c8"; }

.icon-diedaisanicon39:before { content: "\e695"; }

.icon-login:before { content: "\e602"; }

.icon-placeholder1:before { content: "\e654"; }

.icon-emial:before { content: "\e699"; }

.icon-tel:before { content: "\e611"; }

.icon-right:before { content: "\e600"; }

.icon-money:before { content: "\e609"; }

.icon-activity:before { content: "\e6de"; }

.icon-down:before { content: "\e619"; }

.icon-Key:before { content: "\e60e"; }

.icon-lock:before { content: "\e623"; }